@import url("https://fonts.googleapis.com/css2? family= Nanum+Gothic+Coding & display=swap");
@import url("https://fonts.googleapis.com/css2? familia= EB+Garamond:ital@0;1 &family= Nanum+Gothic+Coding & display=swap");
/*VARIABLES*/
/*grtacias al _ mi archivo no necesita importarse con la extension*/
/*RESET-todas las etiquetas pueden recibir contenido antes o despues*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%;
  /*10px de base al html, y para pasar a em 1em o 24px= 2.4em*/
  font-family: var(monospace); }

/*GLOBALES*/
body {
  display: grid;
  min-width: 1200px;
  height: 200vh;
  flex-direction: column;
  background-image: url(https://www.wallpapertip.com/wmimgs/3-32659_best-jet-black-iphone-wallpaper-star-wallpaper-hd.jpg);
  background-attachment: fixed;
  /* queda fija la img en pantalla*/
  background-repeat: repeat;
  /* repite la img*/
  background-size: contain;
  /* contiene la img sin estirar ni recortarla*/
  object-fit: cover;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr 20vh;
  grid-template-areas: "header" "main" "footer"; }

main {
  max-width: 1200px;
  margin: 0 auto; }

ul {
  list-style-type: none; }

li a {
  text-decoration: none;
  display: flex; }

/*HELPERS*/
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

/*BOOTSTRAP*/
.navbar-light .navbar-brand {
  color: white;
  margin-left: 4rem; }

.navbar-nav {
  flex-direction: row;
  justify-content: center; }

.navbar {
  padding-top: 3.6rem;
  padding-bottom: 0.5rem; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
  width: 20%; }

.navbar-collapse {
  margin-left: .3rem; }

.bots #carouselExampleFade {
  top: 10px;
  height: 70vh;
  justify-content: center;
  left: 25%; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  margin: 0.2rem; }

.navbar-light .navbar-brand {
  font-size: 1.3rem; }

.navbar-toggler {
  margin-top: -1.5rem; }

.slide img {
  top: 30px; }

.t {
  font-family: monospace;
  color: white;
  margin: 2rem;
  text-align: center; }

.navbar > .container-fluid {
  margin-top: -12rem; }

@media screen and (max-width: 720px) {
  body {
    display: grid;
    min-width: 320px;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 1fr 20vh;
    grid-template-areas: "header" "main" "footer";
    padding: 0;
    /*HEADER*/
    /*MAIN*/
    /*FOOTER*/
    /*FORM*/
    /*GALERIA*/ }
    body header {
      min-width: 320px;
      padding: 0 auto;
      margin-bottom: -1rem; }
      body header .titulo {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: none;
        margin-top: .2rem; }
        body header .titulo__parrafo {
          display: none; }
        body header .titulo__titulo {
          font-size: 1.5rem;
          bottom: -1rem;
          left: -1.2rem; }
      body header #mobile {
        display: flex;
        justify-content: left;
        right: 6rem; }
      body header #responsive {
        display: flex;
        margin: 0; }
      body header .flex-row li a {
        flex-direction: row;
        padding: 0;
        margin: .5rem;
        font-size: .8em; }
    body .navbar-light .navbar-brand {
      margin-left: 2rem;
      font-size: .8em; }
    body .navbar-collapse {
      margin-left: -1.1rem; }
    body .navbar-light .navbar-toggler-icon {
      width: 20px;
      margin-left: -0.3rem;
      margin-top: -0.3rem; }
    body .navbar-light .navbar-toggler {
      width: 35px;
      height: 30px; }
    body .navbar > .container-fluid {
      margin-top: -3rem; }
    body .navbar-nav {
      font-size: .9em; }
    body main {
      max-width: 320px;
      /*NOSOTROS*/ }
      body main #intro-p {
        margin-top: 4rem; }
      body main .intro p {
        font-size: .7em;
        margin-top: 4rem; }
      body main .imagen .principal__img {
        width: 320px;
        height: 160px;
        left: 3rem;
        padding: .3rem; }
      body main .principal__parrafo {
        display: block;
        text-align: center;
        font-size: .6em;
        margin: .3rem; }
      body main .row__imagenes {
        width: 320px; }
        body main .row__imagenes .imagenes__1 {
          width: 150px;
          height: 100px; }
        body main .row__imagenes .imagenes__2 {
          width: 150px;
          height: 100px; }
        body main .row__imagenes .imagenes__3 {
          width: 120px;
          height: 150px; }
        body main .row__imagenes .imagenes__4 {
          width: 120px;
          height: 180px; }
      body main .suscribe {
        margin: 0; }
      body main .suscribe a {
        max-width: 60%;
        justify-content: center;
        padding: .5rem;
        margin: 2rem 4rem;
        font-size: .5em; }
      body main .video__parrafo {
        margin-top: -4rem;
        margin-bottom: 2rem; }
      body main .video__hole {
        margin-left: 3rem;
        margin-top: 9rem; }
        body main .video__hole_h {
          margin: 0; }
      body main .texto {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 8rem; }
      body main .nosotros {
        display: flex;
        width: 80%;
        margin-left: 2.5rem; }
        body main .nosotros .nosotros__parrafo {
          font-size: .9em;
          text-align: justify; }
      body main .titulo {
        font-size: 1em;
        margin-top: 4rem; }
    body footer {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: none;
      min-width: 320px; }
      body footer .foot__img {
        border-radius: 100%;
        margin: 11px 58px 0px 49px;
        width: 50px;
        height: 50px; }
      body footer .derechos__p {
        margin: 6px 35px 4px 34px;
        font-size: .3em; }
      body footer .redes {
        display: flex;
        justify-content: center; }
        body footer .redes__li, body footer .redes__li--img2, body footer .redes__li--img3 {
          margin: 5px 0px 0px 5px;
          width: 15px;
          height: 15px; }
        body footer .redes__titulo {
          font-size: .6em;
          margin: 12px -31px 0px 4px; }
        body footer .redes__li--img1 {
          /* Arriba | Derecha | Abajo | Izquierda */
          margin: 5px 0px 0px 10px;
          width: 15px;
          height: 15px; }
    body .contacto {
      min-width: 200px;
      margin: -3rem 3rem; }
      body .contacto .check type[checkbox] {
        margin-left: 12rem; }
    body .p {
      margin: 4rem;
      font-size: .9rem; }
    body .form input, body .form .form__area {
      margin-bottom: 15px;
      border-radius: 5px; }
    body .form__area {
      margin-bottom: 15px;
      border-radius: 5px; }
    body .form label {
      font-size: .8rem; }
    body .form__button {
      margin-bottom: 5rem;
      border-radius: 5px;
      padding: 0;
      height: 5%; }
    body .galeria {
      margin: 3.5rem; }
    body .galeria__titulo {
      font-size: 1em;
      margin-top: 4rem; }
    body .galeria img {
      width: 200px;
      height: 200px; }
    body .galeria img:hover {
      width: 250px;
      height: 150px; }
  /*CIENCIA*/
  iframe {
    width: 312px;
    height: 215px;
    margin: -7rem -3rem; }
    iframe_h {
      margin: -8rem -8rem; } }

.video {
  display: flex;
  justify-content: center;
  margin: 12rem auto; }

/*HEADER*/
header {
  background-color: #242e30;
  opacity: 70%;
  border-radius: 10px 10px 10px 10px;
  padding: 0 2rem; }
  header .logo__img {
    border-radius: 100%;
    margin: 30px 0px 0px 30px;
    left: 5rem; }
  header .titulo {
    display: inline-block;
    position: relative;
    /* como un elem esta posicionado en el doc*/
    color: white; }
    header .titulo__titulo {
      margin: 15px 0px 0px 15px;
      font-family: monospace;
      font-weight: lighter;
      bottom: -2rem;
      /*aprox 40px*/
      left: 6rem;
      /*aprox 80px*/ }
    header .titulo__parrafo {
      font-family: "Courier New", Courier, monospace;
      color: white;
      font-size: 0.9em;
      left: 34rem;
      bottom: 3.5rem; }
  header .menu li {
    font-size: 0.9em;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    transition: color 1s; }
    header .menu li a:hover {
      color: #6f8c92; }
    header .menu li a {
      color: white;
      padding: 1rem;
      margin-left: 9rem; }

/*MAIN*/
main .intro p {
  font-size: 1.5em;
  font-family: monospace;
  color: white;
  text-align: center;
  margin-top: 2rem; }

main .imagen {
  display: flex;
  align-items: none;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem; }

main .principal__parrafo {
  text-align: justify;
  font-size: .9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  line-height: inherit;
  margin-left: 9rem;
  margin-right: 9rem;
  color: white; }
  main .principal__parrafo a {
    text-decoration: none;
    font-size: .7em;
    color: white;
    padding: .3rem;
    border-radius: 1rem;
    background-color: #242e30; }

main .video__parrafo {
  margin-left: 29rem;
  margin-top: -10rem; }

main .video__hole {
  margin-left: 9rem;
  margin-top: 6rem; }

main .texto {
  margin-left: 40rem; }

main .suscribe a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 30%;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: .9rem;
  border-radius: 10px;
  background-color: #242e30;
  filter: opacity(70%);
  margin: 110px 0px 110px 430px; }

/*GALERIA*/
.galeria__titulo {
  font-size: 1.5em;
  font-family: monospace;
  color: white;
  text-align: center;
  margin-top: 2rem; }

.galeria {
  margin-left: 13rem; }
  .galeria img {
    object-fit: cover;
    margin: 6px 6px 6px 6px;
    position: relative;
    transition: all 2s; }
    .galeria img:hover {
      width: 410px;
      height: 240px; }
  .galeria [title] {
    font-family: "Courier New", Courier, monospace;
    color: #242e30;
    border-radius: 5px; }

/*NOSOTROS*/
main .titulo {
  font-family: monospace;
  color: white;
  margin: 3rem;
  text-align: center; }

main .nos {
  margin-top: 10rem; }

main .nosotros {
  display: flex;
  width: 80%;
  margin-left: 8rem; }
  main .nosotros__parrafo {
    color: white;
    font-family: #242e30;
    font-size: 1.6em;
    text-align: center; }

/*FORM*/
.contacto {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-left: 8rem; }

.p {
  font-family: monospace;
  color: white;
  margin: 2rem;
  text-align: center; }

.form {
  margin-top: 2rem;
  /*separacion entre input y parrafo  */ }
  .form label {
    text-align: right;
    font-size: 13px;
    margin-bottom: 0.3rem;
    margin: 0.5rem;
    font-size: 1rem;
    color: white; }
  .form input, .form .form__area {
    margin-bottom: 20px;
    background-color: #242e30;
    border: 1px solid black;
    opacity: 70%;
    border-radius: 10px;
    width: 130%;
    padding: 1.5rem 3rem; }
  .form__button {
    margin-bottom: 20px;
    background-color: #242e30;
    border: 1px solid black;
    opacity: 70%;
    border-radius: 10px;
    width: 30%;
    padding: 1.5rem 1rem; }
  .form .notice {
    margin-top: 1rem; }
  .form .check {
    margin-left: 0;
    width: 10%; }

/*FOOTER*/
footer {
  display: flex;
  align-items: none;
  flex-wrap: wrap;
  justify-content: none;
  gap: 15px;
  background-color: #242e30;
  border-radius: 10px 10px 10px 10px;
  filter: opacity(70%); }
  footer .foot__img {
    border-radius: 100%;
    margin: 0 11rem; }
  footer .derechos__p {
    color: white;
    margin: 0 7rem;
    font-family: monospace;
    font-weight: lighter;
    font-size: .8em; }
  footer .redes {
    display: inline-block;
    position: relative;
    margin: 0 auto; }
    footer .redes__titulo {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1em;
      color: white;
      margin: 3rem 1rem; }
    footer .redes__li--img1 {
      margin: 0px 10px; }
    footer .redes__li--img2 {
      margin: 0px 10px; }
    footer .redes__li--img3 {
      margin: 0px 10px; }
