<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enterate de las noticias del Universo, te traemos las ultimas novedades en astronomia.">
    <meta name="keywords" content="ciencia, astronomia, divulgacion cientifica, noticias, hubble, universo, 
    james webb, nasa, galaxias, spacex, descubrimientos, agujeros negros, esa">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="stylesheet" href="../../css/main.css">
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <!--<link rel="stylesheet" href="../styles/estilos.css"> --> 
    
    <title>Eyestronomy | Ciencia</title>
</head>
<body>

    <header class="header">     
       <div class="titulo">
             
            <picture id="mobile" class="logo titulo">
                <a href="../../index.html"><img class="titulo logo__img" src="../multimedia/logo.png" alt="Logo Eyestronomy" width="100px" height="100px"></a>
            </picture>

            <h1 class=" titulo titulo__titulo">EYESTRONOMY</h1>
            
            
            <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <p class="titulo titulo__parrafo">"Equipado con sus cinco sentidos, el Hombre explora el Universo <br/>que lo rodea y a sus aventuras las llama Ciencia." Edwin Hubble</p>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="../../index.html">INICIO</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" aria-current="page" href="./ciencia.html">CIENCIA</a></li>
                  <li class="nav-item"> <a class="nav-link" href="./galeria.html">GALERIA </a></li>
                  <li class="nav-item"> <a class="nav-link" href="./nosotros.html">NOSOTROS </a></li>
                  <li class="nav-item"><a class="nav-link" href="./contacto.html">CONTACTO</a></li>
                  <li class="nav-item"><a class="nav-link disabled" href="#"></a></li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <main>
        <div class="intro">
            <p class="ciencia">-SECCION DE NOTICIAS-</p>
        </div>
        <section>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wmzxFiL3mQI" title="YouTube video player" frameborder="0" allow="accelerometer;
                 autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="principal principal__parrafo video__parrafo">El planeta rojo, aun tiene muchos secretos por descubrir, desde la presencia de agua, hasta bacterias marcianas. Las misiones a Marte nos han llevado por caminos, que solo hubiesemos podido soñar, y gracias a la ciencia y los avances en tecnologia, estamos mas cerca que nunca.Mas contenido en
                <a href="https://www.youtube.com/channel/UCuArgGTKBRsqFXxfecR998w"> The Simply Space</a></p>
        </section>
        <section class="principal">
            <picture data-aos="zoom-in-up" class="imagen principal">
                <img class="imagen principal__img j" src="../multimedia/james webb.jpg" width="900px" height="400px" alt="Telescopio James Webb">
            </picture>
            
            <p class="principal principal__parrafo">Después de 15 años de desarrollo y 10.000 millones de dólares invertidos, el Telescopio Espacial James Webb (JWST) está cada vez más cerca del lanzamiento. Su misión será detectar las primeras estrellas que brillen en el cosmos. El telescopio no solo profundizará en nuestra comprensión de la Vía Láctea, sino también de exoplanetas y objetos celestes lejanos. Capaz de capturar una amplia gama de longitudes de onda de luz, el JWST también espera observar las primeras galaxias del universo y encontrar incluso evidencia de materia oscura. <a href="https://www.muyinteresante.es/ciencia/articulo/james-webb-quien-fue-y-por-que-la-nasa-le-puso-su-nombre-al-mayor-telescopio-espacial-de-la-historia-971641898354#:~:text=Inicialmente%20el%20telescopio%20se%20llamaba,2022%20en%20honor%20a%20Webb.&text=James%20Edwin%20Webb%20fue%20el,Keith%20Glennan).">Fuente: Muy Interesante</a></p>

            <picture data-aos="zoom-in-down" class="imagen principal">
                <img class="imagen principal__img b" src="../multimedia/Agujero-Negro-1920-2.jpg" width="650px" height="400px" alt="Telescopio James Webb">
            </picture>
            
           <p class="principal principal__parrafo">En una serie de conferencias de prensa internacionales simultáneas celebradas el 10 de Abril de 2019, por todo el planeta, investigadores del Telescopio Horizonte de Sucesos (EHT por sus siglas en inglés) han mostrado la primera evidencia visual directa de un agujero negro supermasivo y de su sombra.
            El hito se ha anunciado en una serie de seis artículos científicos publicados hoy en una edición especial de la revista Astrophysical Journal Letters. La imagen muestra el agujero negro en el centro de Messier 87 (M87), una galaxia masiva situada en el cercano cúmulo de galaxias Virgo. Este agujero negro se encuentra a 55 millones de años luz de la Tierra y es 6.500 millones de veces más masivo que el Sol .
            Para lograr esta imagen se ha formado un telescopio virtual del tamaño de la Tierra con una sensibilidad y resolución sin precedentes
            Para lograr esta imagen se han conectado las señales de ocho radiotelescopios repartidos por todo el planeta y se ha logrado formar un telescopio virtual del tamaño de la Tierra con una sensibilidad y resolución sin precedentes.
            El EHT es el resultado de años de colaboración internacional y ofrece a los científicos una nueva forma de estudiar los objetos más extremos del universo predichos por la relatividad general de Einstein, un siglo después del histórico experimento que confirmó esta teoría por primera vez.
            <a href="https://www.agenciasinc.es/Noticias/Primera-fotografia-de-un-agujero-negro">Fuente: Agencia Sinc</a></p>

            <picture data-aos="zoom-in-up" class="imagen principal">
                <img class="imagen principal__img r" src="../multimedia/WMAP_image_of_the_CMB_anisotropy.jpg" width="700px" height="400px" alt="Telescopio James Webb">
            </picture>
            
           <p class="principal principal__parrafo">Después de décadas infructuosas de búsqueda de esta radiación, en 1964 un grupo de radioastrónomos americanos liderados por Arno Penzias y Robert Wilson descubrieron fortuitamente una señal inquietante en su nuevo detector de ondas de radio. Esta radiación era muy suave e isótropa (independiente de la dirección a donde mirasen). Tras rechazar cualquier fallo en las medidas, no cabía otra explicación: ¡acababan de descubrir la radiación de fondo de microondas proveniente del Big Bang! Este descubrimiento les valió el premio Nobel de Física de 1978.
            Para ser precisos la radiación de fondo de microondas (CMB, de sus siglas en inglés) no es exactamente la radiación del Big Bang. Desde el momento exacto del Big Bang hasta que el Universo se enfrió lo suficiente como para poder emitir luz, pasaron aproximadamente 400 000 años. Este es justamente el momento donde se originó la radiación del CMB y que medimos hoy en día. A escalas humanas, 400 000 años puede parecer mucho, pero a escalas del Universo, que tiene una edad de casi 14 mil millones de años, es casi nada. Por poner un símil, es como si a una
            persona de 100 años la conociéramos desde su primer día de vida: no podremos decir que estuvimos en el día de su nacimiento, pero casi. Así que sin ser muy precisos (por ejemplo en una conversación en un almuerzo familiar), podemos decir que el CMB es el eco del Big Bang, pero si queremos ser precisos (por ejemplo, en la misma reunión familiar, algún primopesao dice que el CMB es el eco del Big Bang), ahí podríamos corregir y decir que no, que tuvieron que pasar 400 000 años para el Universo enfriarse lo suficiente como para poder emitir radiación. <a href="https://www.youtube.com/watch?v=-kE9dGVPPNQ">Enterate más en Date un Voltio</a></p>

        </section>
    
        <div class="suscribe">
            <a href="../views/contacto.html">Suscribite para obtener info actualizada</a>
        </div>
    </main>  

    <footer class="footer">
        <div>
            <picture class="foot">
                <a href="../../index.html"><img class="foot__img" src="../multimedia/logo.png" alt="Logo Eyestronomy" width="80px" height="80px"></a>
            </picture>
            
            <p class="foot derechos__p">Todos los Derechos Rreservados
             <br>
            Info a eyestronomy@correo.com</p> 
        </div>
        <div class="redes">
            <h5 class="redes redes__titulo">SEGUINOS</h5>
            <ul class="redes">
                <li class="redes redes__li"><a class="redes" href="http://www.facebook.com" target="blank"><img class="redes__li redes__li--img1" src="../multimedia/facebook logo png sin fondo (1).png" width="30px" height="30px" alt="facebook"></a></li>
                <li class="redes redes__li"><a class="redes" href="http://www.instagram.com" target="blank"><img class="redes__li redes__li--img2" src="../multimedia/ig.png" width="30px" height="30px" alt="instagram"></a></li>
                <li class="redes redes__li"><a class="redes" href="http://www.twitter.com" target="blank"><img class="redes__li redes__li--img3" src="../multimedia/twitt.png" width="30px" height="30px" alt="twitter"></a></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>