<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>eyestronomy</title>
</head>
<body>
    <header>   
        <div class="titulo">
            <a href="../../index.html"><img class="titulo titulo__logo" src="../multimedia/logo.png" alt="Logo Eyestronomy" width="100px" height="100px"></a>
            <h1 class=" titulo titulo__titulo">EYESTRONOMY</h1>
            
            <p class="titulo titulo__parrafo">"Equipado con sus cinco sentidos, el Hombre explora el Universo <br/>que lo rodea y a sus aventuras las llama Ciencia." Edwin Hubble</p>
        </div>
           
        <nav>
            <ul class="menu">
                <li><a href="../../index.html">INICIO </a></li>
                <li><a href="./ciencia.html">CIENCIA</a></li>
                <li><a href="./galeria.html">GALERIA</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>  
            </ul>
        </nav>  
        <h2 class="gal">Galeria</h2> 
    </header>

    <main>
        <section>
            <h2 class="galeria__titulo">-GALERIA DEL UNIVERSO-</h2>
            <ul class="galeria"
                <li class="galeria galeria__ima"><img class="galeria__ima--1" src="../multimedia/space-stars-galaxy-deep-space-hubble-deep-field-wallpaper-preview.jpg" alt="Campo ultraprofundo"></li>
                <li class="galeria galeria__ima"><img class="galeria__ima--2" src="../multimedia/Agujero-Negro-1920-2.jpg" width="900px" height="500px" alt="Primera imagen de un agujero negro"></li>
                <li class="galeria galeria__ima"><img class="galeria__ima--3" src="../multimedia/1200px-Voyager_spacecraft.jpg" alt="Voyager"></li>
                <li class="galeria galeria__ima"><img class="galeria__ima--4" src="../multimedia/hubble.jpg" alt="Telescopio Hubble"></li>
                <li class="galeria galeria__ima"><img class="galeria__ima--5" src="../multimedia/planck_cmb.jpg" alt="Radiacion de fondo predicha por Plank"></li>
                <li class="galeria galeria__ima"><img class="galeria__ima--6" src="../multimedia/cms-image-000001210-700x375.jpg" alt="Disco de oro en la Voyager2"></li>
                <li class="galeria galeria__ima"><img class="galeria__ima--7" src="../multimedia/Inflacion-cosmica-caliente-640x461.jpg" alt="Inflacion Cosmica"></li>
            </ul>
        </section>
        <div class="suscribe">
            <a href="../views/contacto.html">Suscribite para obtener info actualizada</a>
        </div>
    </main>
    
    <footer>
        <div class="derechos">
            <img class="derechos derechos__img" src="../multimedia/logo.png" width="80px" height="80px">
            <p class="derechos derechos__p">Todos los Derechos Rreservados
             <br>
            Info a eyestronomy@correo.com</p> 
        </div>
        <div class="redes">
            <h5 class="redes redes__titulo">SEGUINOS</h5>
            <ul class="redes">
                <li class="redes redes__li"><a href="http://www.facebook.com" target="blank"><img class="redes__li redes__li--img1" src="../multimedia/facebook logo png sin fondo (1).png" width="30px" height="30px" alt="facebook"></a></li>
                <li class="redes redes__li"><a href="http://www.instagram.com" target="blank"><img class="redes__li redes__li--img2" src="../multimedia/ig.png" width="30px" height="30px" alt="instagram"></a></li>
                <li class="redes redes__li"><a href="http://www.twitter.com" target="blank"><img class="redes__li redes__li--img3" src="../multimedia/twitt.png" width="30px" height="30px" alt="twitter"></a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>