<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>eyestronomy</title>
</head>
<body>
    <header>   
        <div class="titulo">
            <a href="../../index.html"><img class="titulo titulo__logo" src="../multimedia/logo.png" alt="Logo Eyestronomy" width="100px" height="100px"></a>
            <h1 class=" titulo titulo__titulo">EYESTRONOMY</h1>
            
            <p class="titulo titulo__parrafo">"Equipado con sus cinco sentidos, el Hombre explora el Universo <br/>que lo rodea y a sus aventuras las llama Ciencia." Edwin Hubble</p>
        </div>
           
        <nav>
            <ul class="menu">
                <li><a href="../../index.html">INICIO </a></li>
            </ul>
        </nav>  
        <h2 class="glo">Glosario</h2>
    </header>
    


    <section>
        <div>
            <table class="tabla" border cellpadding="10px">
                <tr>
                    <th class=" tabla tabla__th">Acimut</th>
                    <td class=" tabla tabla__td">Angulo comprendido entre el punto cardinal Norte y la vertical 
                    sobre el horizonte para la posición de un astro, medido hacia el
                    Este. Su valor varía entre 0° y 360°, siendo 0° el Norte y 90°
                    el Este. Junto con la altura, define la posición de un objeto 
                    en el cielo en el sistema de coordenadas horizontales.</td>
                </tr>
                <tr>
                    <th class="tabla tabla__th">Acreción</th>
                    <td class="tabla tabla__td">
                    Proceso por el cual partículas o pequeños fragmentos rocoso
                    y/o metálicos chocan y se acumulan, por acción de su propia gravedad, 
                    formando progresivamente un cuerpo cada vez más grande. Este mecanismo 
                    permite, por ejemplo, la formación de planetas.</td>
                </tr>
                <tr>
                    <th class=" tabla tabla__th">Acimut</th>
                    <td class=" tabla tabla__td">Angulo comprendido entre el punto cardinal Norte y la vertical 
                    sobre el horizonte para la posición de un astro, medido hacia el
                    Este. Su valor varía entre 0° y 360°, siendo 0° el Norte y 90°
                    el Este. Junto con la altura, define la posición de un objeto 
                    en el cielo en el sistema de coordenadas horizontales.</td>
                </tr>
                <tr>
                    <th class="tabla tabla__th">Acreción</th>
                    <td class="tabla tabla__td">
                    Proceso por el cual partículas o pequeños fragmentos rocoso
                    y/o metálicos chocan y se acumulan, por acción de su propia gravedad, 
                    formando progresivamente un cuerpo cada vez más grande. Este mecanismo 
                    permite, por ejemplo, la formación de planetas.</td>
                </tr>
            </table>
        </div>

    </section>

    <footer>
        <div class="derechos">
            <img class="derechos derechos__img" src="../multimedia/logo.png" width="80px" height="80px">
            <p class="derechos derechos__p">Todos los Derechos Rreservados
             <br>
            Info a eyestronomy@correo.com</p> 
        </div>
        <div class="redes">
            <h5 class="redes redes__titulo">SEGUINOS</h5>
            <ul class="redes">
                <li class="redes redes__li"><a href="http://www.facebook.com" target="blank"><img class="redes__li redes__li--img1" src="../multimedia/facebook logo png sin fondo (1).png" width="30px" height="30px" alt="facebook"></a></li>
                <li class="redes redes__li"><a href="http://www.instagram.com" target="blank"><img class="redes__li redes__li--img2" src="../multimedia/ig.png" width="30px" height="30px" alt="instagram"></a></li>
                <li class="redes redes__li"><a href="http://www.twitter.com" target="blank"><img class="redes__li redes__li--img3" src="../multimedia/twitt.png" width="30px" height="30px" alt="twitter"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>