<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estilos.css">
    <title>eyestronomy</title>
</head>
<body>
    <header class="header">     
        <div class="titulo">
              
             <picture id="mobile" class="logo titulo">
                 <a href="../../index.html"><img class="titulo logo__img" src="../multimedia/logo.png" alt="Logo Eyestronomy" width="100px" height="100px"></a>
             </picture>
 
             <h1 class=" titulo titulo__titulo">EYESTRONOMY</h1>
             
             <p class="titulo titulo__parrafo">"Equipado con sus cinco sentidos, el Hombre explora el Universo <br/>que lo rodea y a sus aventuras las llama Ciencia." Edwin Hubble</p>
         </div>
         <nav>
             <ul id="responsive" class="flex-row menu">
                 <li><a href="../../index.html">INICIO </a></li>
                 <li><a href="./ciencia.html">CIENCIA</a></li>
                 <li><a href="./galeria.html">GALERIA</a></li>
                 <li><a href="./nosotros.html">NOSOTROS</a></li>
                 <li><a href="./contacto.html">CONTACTO</a></li>  
             </ul>
         </nav>   
     </header>
    <main>
        <section>
            <h2 class="nosotros__titulo">-QUIENES SOMOS?-</h2>
            <article class="nosotros">
                <p class="nosotros__parrafo">Eyestronoy es una revista de divulgacion cientifica para todos. Nos dedicamos a traerte informacion sobre el universo, sus misterios, y las noticias mas importantes referidas a avances en el entendimiento, comprension y busqueda, de quienes somos, hacia donde vamos, y que grandes misterios nos depara nuestro vasto Universo.
                    Fundada hace un año, y creando experiencias unicas para nuestros lectores, sin limite de edad. Somos astronomia, astrofisica, matematicas, somops Ciencia.
                </p>
            </article>
        </section>
        <div class="suscribe">
            <a href="../views/contacto.html">Suscribite para obtener info actualizada</a>
        </div>
    </main>

    <footer class="footer">
        <div>
            <picture class="foot">
                <img class="foot__img" src="../multimedia/logo.png" alt="Logo Eyestronomy" width="80px" height="80px">
            </picture>
            
            <p class="foot derechos__p">Todos los Derechos Rreservados
             <br>
            Info a eyestronomy@correo.com</p> 
        </div>
        <div class="redes">
            <h5 class="redes redes__titulo">SEGUINOS</h5>
            <ul class="redes">
                <li class="redes redes__li"><a class="redes" href="http://www.facebook.com" target="blank"><img class="redes__li redes__li--img1" src="../multimedia/facebook logo png sin fondo (1).png" width="30px" height="30px" alt="facebook"></a></li>
                <li class="redes redes__li"><a class="redes" href="http://www.instagram.com" target="blank"><img class="redes__li redes__li--img2" src="../multimedia/ig.png" width="30px" height="30px" alt="instagram"></a></li>
                <li class="redes redes__li"><a class="redes" href="http://www.twitter.com" target="blank"><img class="redes__li redes__li--img3" src="../multimedia/twitt.png" width="30px" height="30px" alt="twitter"></a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>