/*FOOTER*/
footer{
    @include flex(flex, none,wrap, none);
    gap: 15px;
    background-color: $principal;
    border-radius: 10px 10px 10px 10px;
    filter: opacity(70%);

    .foot__img{
        border-radius: 100%;
        margin: 0 11rem;
    }

    .derechos__p{
        color: $secondary;
        margin: 0 7rem;
        font-family: $font-one;
        font-weight: lighter;
        font-size: .8em;
    }

    .redes{
        display: inline-block;
        position: relative;
        margin: 0 auto;

        &__titulo{
            font-family: $font-three;
            font-size: 1em;
            color: $secondary;
            margin: 3rem 1rem;
        }
        
        &__li--img1{
            margin: 0px 10px;
            background-color: $secondary;
            border-radius: 5px;
        }
        
        &__li--img2{
            margin: 0px 10px;
            background-color: $secondary;
            border-radius: 8px;
        }
        
        &__li--img3{
            margin: 0px 10px;
            background-color: $secondary;
            border-radius: 4px;
        }
    }
}
