/*NOSOTROS*/
main{
    .titulo{
        font-family: $font-one;
        color: $secondary;
        margin: 3rem;
        text-align: center;
    }
    
    .nosotros{
        display: flex;
        width: 80%;
        margin-left: 10rem;
    
        &__parrafo{
            color: $secondary;
            font-family: $principal;
            font-size: 1.6em;
            text-align: center;
        }
    }
    
}



