/*FORM*/
.contacto {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-left: 8rem;
}
.p {
  font-family: $font-one;
  color: $secondary;
  margin: 2rem;
  text-align: center;
}
.form {
  margin-top: 2rem;
  /*separacion entre input y parrafo  */

  & label {
    text-align: right;
    font-size: 13px;
    margin-bottom: 0.3rem;
    margin: 0.5rem;
    font-size: 1rem;
    color: $secondary;
  }
  & input {
    margin-bottom: 20px;
    background-color: $principal;
    border: 1px solid black;
    opacity: 70%;
    border-radius: 10px;
    width: 130%;
    padding: 1.5rem 3rem;
  }

  &__area {
    @extend input;
  }

  &__button {
    margin-bottom: 20px;
    background-color: $principal;
    border: 1px solid black;
    opacity: 70%;
    border-radius: 10px;
    width: 30%;
    padding: 1.5rem 1rem;
  }

  .notice{
    margin-top: 1rem;
  }

  .check{
    margin-left: 0;
    width: 10%;
  }
}
