/*GALERIA*/

.galeria__titulo{
    
    font-family: $font-one;
    color: $secondary;
    text-align: center;
    margin-top: 2rem;
}

.galeria__titulo1{
    
    font-family: $font-one;
    color: $secondary;
    text-align: center;
    margin-top: 4rem;
}
.gale{
    width: 80%;
    margin: 2rem 12rem ;
}

.galeria1{
    
    & img{
        margin: 10px 10px 10px 10px;
        position: relative;
        transition: all 2s;
        &:hover{
            width: 280px;
            height: 270px;
        }
    }

}
.galeria{
    margin-left: 13rem;
    & img{
        object-fit: cover;
        margin: 6px 6px 6px 6px;
        position: relative;
        transition: all 2s;
        &:hover{
            width: 420px;
            height: 250px;
        }
    
    }

    [title]{
        font-family: $font-two;
        color: $principal;
        border-radius: 5px;
    }
}