/*GALERIA*/
.galeria__titulo{
    font-size: 1.5em;
    font-family: $font-one;
    color: $secondary;
    text-align: center;
    margin-top: 2rem;
}
.galeria{
    & img{
        object-fit: cover;
        margin: 8px 8px 8px 8px;
        position: relative;
        transition: all 2s;
        &:hover{
            width: 410px;
            height: 240px;
        }
    
    }

    [title]{
        font-family: $font-two;
        color: $principal;
        border-radius: 5px;
    }
}

