@media screen and (max-width: 720px){

    body{
        display: grid;
        min-width: 320px;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 1fr 16vh;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        padding: 0;

        
        /*HEADER*/
        header{
            min-width: 320px;
            padding: 0 auto;
            margin-bottom: -1rem;

            .titulo{
                @include flex(flex, center,nowrap, none);
                margin-top: .2rem;
        
                &__parrafo{
                    display: none;
            
                    
                }
                &__titulo{
                    font-size: 1.5rem;
                    bottom: -1rem; 
                    left: -1.2rem;
                }
            }
        
           
            #mobile{
                display: flex;
                justify-content: left;
                right: 6rem;
            }
        
            #responsive{
                display: flex;
                margin: 0;
            }
        
            .flex-row li a{
                flex-direction: row;
                padding: 0;
                margin: .5rem;
                font-size: .8em;
            }
        }

        .navbar-light .navbar-brand {
            margin-left: 2rem;
            font-size: .8em;
        }

        .navbar-collapse {
            margin-left: -1.1rem;
        }

        

        .navbar-light .navbar-toggler-icon {
            width: 20px;
            margin-left: -0.3rem;
            margin-top: -0.3rem;
        }

        .navbar-light .navbar-toggler {
            width: 35px;
            height: 30px;
            background-color: white;
        }

        .navbar>.container-fluid {
            margin-top: -3rem;
        }
        .navbar-nav {
            font-size: .9em;
        }

    
        /*MAIN*/
        main{
            max-width: 320px;

            #intro-p{
                margin-top: 4rem;
                font-size: .7em;
            }
        
            .intro p{
                font-size: 1em;
                margin-top: 4rem;
            }

            .intro .ciencia{
                margin-bottom: 6rem;
            }
            
            .imagen .principal__img{
                width: 320px;
                height: 160px;
                left: 3rem;
                padding: .3rem;
            }
        
            .principal__parrafo{
                display:block;
                text-align: center;
                font-size: .6em;
                margin: .3rem;
            }
        
            .row__imagenes{
                width: 320px;

                .imagenes__1{
                    width: map-get($width, big);
                    height: map-get($heigth, small-3);
                }
                
                .imagenes__2{
                    width: map-get($width, big);
                    height: map-get($heigth, small-3);
                }
                
                .imagenes__3{
                    width: map-get($width, small-3);
                    height: map-get($heigth, big);    
                }
                
                .imagenes__4{
                    width: map-get($width, small-3);
                    height: 180px;   
                }
                
            }
            
            .suscribe{
                margin: 0;
            }
        
            .suscribe a{
                max-width: 60%;
                justify-content: center;
                padding: .5rem; 
                margin: 2rem 4rem;
                font-size: .5em;
            }

            .video__parrafo{
                margin-top: 1rem;
                margin-bottom: 2rem;
            } 

            .video__hole{
                margin-left: -1.7rem;
                margin-top: 9rem;

                &_h{
                    margin: 0;
                }
            }

            .texto{
                margin-left: -4rem;
                margin-right: -4rem;
                margin-top: 6rem;
            }

            /*NOSOTROS*/

            .nosotros{
                display: flex;
                width: 80%;
                margin-left: 2.5rem;

                .nosotros__parrafo{
                    font-size: .9em;
                    text-align: justify;
                }
            }
        
            .titulo{
                font-size: 1em;
                margin-top: 4rem;
            }

            .nos{
                margin-top: 6rem
            }
        }

    
        /*FOOTER*/
        
        footer{
            @include flex(flex, center,nowrap, none);
            min-width: 320px;

            .foot__img{
                border-radius: 100%;
                margin: 11px 58px 0px 49px;
                width: map-get($width, small-2);
                height: 50px;
            }
        
            .derechos__p{
                margin: 6px 35px 4px 34px;
                font-size: .3em;
            }
        
            .redes{
                display: flex;
                justify-content: center;

                &__li{
                    margin: 5px 0px 0px 5px ;
                    width: map-get($width, small-1);
                    height:15px;
                }

                &__titulo{
                    font-size: .6em;
                    margin: 12px -31px 0px 4px;
                }
            
                &__li--img1{
                    /* Arriba | Derecha | Abajo | Izquierda */
                    margin: 5px 0px 0px 10px;
                    width: map-get($width, small-1);
                    height:15px;
                }
            
                &__li--img2{
                    @extend .redes__li;
                }
                
                &__li--img3{
                    @extend .redes__li;
                }
            }
            
        
        }

        
        /*FORM*/
        
        .contacto{
            min-width: 200px;
            margin: -3rem 2rem;

            & .check type[checkbox]{
                margin-left: 12rem;
            }
        }
        
        .p{
            margin: 4rem;
            font-size: .9rem;
        }
        
        .form input{
            margin-bottom: 15px;
            border-radius: 5px;
            
        }

        
        
        .form__area{
            margin-bottom: 15px;
            border-radius: 5px;
        }
        
        .form label{
            font-size: .8rem;
        }
        
        .form__button{
            margin-bottom: 5rem;
            border-radius: 5px;
            padding: 0;
            height: 5%;
        }


        /*GALERIA*/

        .galeria{
            margin: 3.5rem; 
        }
         
    
        .galeria__titulo {
            font-size: 1em;
            margin-top: 4rem;
        }
        .galeria img{
            width: 200px;
            height: 200px;
        }
        
        .galeria img:hover{
            width: 250px;
            height: 150px;
        }
    }

    /*CIENCIA*/

    iframe{
        width: 312px;
        height: 215px;
        margin: -5rem -3rem;

        &_h{
            margin: -8rem -8rem;
        }
    }

    

    
}