/*VARIABLES*/

    $principal:rgb(36, 46, 48);
    $secondary: white;
    $font-one: monospace;
    $font-two: 'Courier New', Courier, monospace;
    $font-three: Verdana, Geneva, Tahoma, sans-serif;

    $width:(
         small-1: 15px,
         small-2: 50px,
         small-3: 120px,
         big: 150px,
    );

    $heigth:(
     small-1: 15px,
     small-2: 50px,
     small-3: 100px,
     big: 150px,
);