/*HELPERS*/

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex($display, $align, $wrap, $justify) {
    display: $display;
    align-items: $align;
    flex-wrap: $wrap;
    justify-content: $justify;
}